---
layout: archive
excerpt: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut tellus sed dolor fringilla aliquam. Vestibulum eu suscipit augue. Nullam id lorem vitae ex vulputate imperdiet quis ut augue.
header:
  overlay_image: /assets/images/header.jpg
  overlay_filter: rgba(0, 0, 100, 0.2)
  cta_label: "TODO"
  cta_url: "https://unsplash.com"
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
{% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
