---
layout: splash
excerpt: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut tellus sed dolor fringilla aliquam. Vestibulum eu suscipit augue. Nullam id lorem vitae ex vulputate imperdiet quis ut augue.
header:
  overlay_image: /assets/images/header.jpg
  overlay_filter: rgba(0, 0, 100, 0.2)
  cta_label: "TODO"
  cta_url: "https://unsplash.com"

feature_row:
  - image_path: /assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 1"
    title: "Disturbi del comportamento alimentare"
    excerpt: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut tellus sed dolor fringilla aliquam. Vestibulum eu suscipit augue. Nullam id lorem vitae ex vulputate imperdiet quis ut augue."
    url: "#test-link"
    btn_label: "Continua"
    btn_class: "btn--inverse"
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Famiglie monogenitoriali e omoparentali"
    excerpt: "Aliquam et feugiat neque, tempor dapibus dolor. Donec placerat sit amet tellus et dapibus. Suspendisse molestie sem sit amet tellus malesuada interdum."
    url: "#test-link"
    btn_label: "Continua"
    btn_class: "btn--inverse"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Disturbo borderline di personalità"
    excerpt: "Etiam et elit lectus. Ut placerat dolor ut dignissim gravida. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut vitae felis tellus."
    url: "#test-link"
    btn_label: "Continua"
    btn_class: "btn--inverse"
  - image_path: /assets/images/unsplash-gallery-image-4-th.jpg
    title: "Terapia di coppia"
    excerpt: "Etiam et elit lectus. Ut placerat dolor ut dignissim gravida. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut vitae felis tellus."
    url: "#test-link"
    btn_label: "Continua"
    btn_class: "btn--inverse"
  - image_path: /assets/images/unsplash-gallery-image-5-th.jpg
    title: "Adozione"
    excerpt: "Etiam et elit lectus. Ut placerat dolor ut dignissim gravida. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut vitae felis tellus."
    url: "#test-link"
    btn_label: "Continua"
    btn_class: "btn--inverse"
---

<h2>Chi Siamo?</h2>
<p>
Integer vitae luctus diam. Pellentesque lorem sem, tempus quis rutrum sed, faucibus eget nisi. Suspendisse fermentum ut nulla id pretium. Nam vitae dolor lacinia, bibendum mauris a, scelerisque mi. Curabitur tempor gravida dignissim. Cras cursus, nulla non ultrices molestie, velit ipsum mollis est, quis scelerisque elit diam vel elit. Sed in ligula sollicitudin, dignissim purus at, luctus nisi.
</p>
<div style="margin-top: 1em; margin-bottom: 1em">
  <div style="float: left; margin-left: 4em">
  {% include author-profile-embedded.html author="stefano" %}
  </div>
  <div style="float: right; margin-right: 4em">
  {% include author-profile-embedded.html author="cristina" %}
  </div>
  <div style="clear: both"></div>
</div>
<p>
Nulla velit tellus, ullamcorper eu augue id, tristique porttitor velit. Donec eu magna vitae sem imperdiet bibendum. Donec nibh lectus, aliquam quis luctus quis, efficitur eget orci.
</p>
{% include feature_row %}